@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&family=Montserrat:wght@400;500&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto+Mono&display=swap');

.mini-plot {
  position: absolute;   /* lo saca del flujo normal */
  top: 10px;            /* distancia desde arriba */
  right: 5px;          /* distancia desde la derecha */
  width: 180px;         /* tamaño fijo o % */
}
.mini-plot img {
  width: 80%;
  height: auto;
}

/* Limitar el ancho de la página a A4 */
body {
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  font-size: 16pt;
  line-height: 1.4;
  background: white;
  color: black;
}

/* Márgenes A4 */
@page {
  size: A4;
  margin: 2mm;
}

/* Centrar tablas */
.table {
  margin: auto;
}

